SNOWFLAKE_ACCOUNT=your_snowflake_account_here
SNOWFLAKE_USER=your_snowflake_username_here
SNOWFLAKE_PASSWORD=your_snowflake_password_here
SNOWFLAKE_WAREHOUSE=your_warehouse_name_here
SNOWFLAKE_DATABASE=your_database_name_here
SNOWFLAKE_SCHEMA=your_schema_name_here
SNOWFLAKE_ROLE=your_role_name_here

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database_name
MONGODB_DB=your_database_name
MONGODB_COUNTRY_COL=your_collection_name

API_BASE=http://127.0.0.1:8080